* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CARD */

.card {
  width: 90%;
  max-width: 550px;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 16px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-dark {
  width: 90%;
  max-width: 550px;
  padding: 2rem;
  border: 1px solid whitesmoke;
  border-radius: 16px;
  background: black;
  color: white;
  box-shadow: 5px 5px 10px rgb(128, 125, 125);
}

/* ACTION BUTTONS */

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.theme-btn,
.arrow-btn,
.like-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.theme-btn,
.like-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow-btn {
  font-size: 1.5rem;
}

.contact-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #2563eb;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 1rem;
}

.contact-btn:hover {
  opacity: 0.9;
}

.photo-count {
  font-size: 1.1rem;
  color: #555;
}

/* LIKE BUTTON */

.like-btn {
  color: black;
}

.like-btn.liked {
  color: red;
}

/* DARK MODE */

.card-dark .theme-btn,
.card-dark .arrow-btn,
.card-dark .like-btn,
.card-dark .photo-count {
  color: white;
}

/* RESPONSIVE DESIGN */

@media (max-width: 600px) {
  .card,
  .card-dark {
    padding: 1.5rem;
  }

  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-description {
    padding: 1rem 0;
  }

  .actions {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .contact-btn {
    width: 100%;
    justify-content: center;
  }
}

.card-dark .skill-badge {
  background-color: #2a2a2a;
  color: white;
}

.card-dark .skills-container h3 {
  color: #b0b0b0;
}
