* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.profile-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-container h1 {
  font-size: 2rem;
}

.profile-container h3 {
  margin-top: 10px;
  color: #7B7E83;
  font-weight: 500;
}

/* Responsive Design */

@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .profile-description {
    padding: 1rem 0;
  }

  .profile-container img {
    width: 130px;
    height: 130px;
  }

  .profile-container h1 {
    font-size: 1.7rem;
  }

  .profile-container h3 {
    font-size: 1rem;
  }
}